@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
#navbar{
    background-color: #241E1B;
}
.navbar-brand {
    font-size:  2.25rem !important;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
    color: white !important;
    cursor: pointer;
  }
  .navbar-nav{
    margin-top: 12px;
	padding-right:10px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

}

.navbar-toggler{
    background-color: white !important;
}
.order-now {
    background: #ffb03b;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;

  }
  .order-now:hover {
    background: #ffa012;
    color: #fff;
  }
  /*--------------------------------------------------------------
# Hero banner
--------------------------------------------------------------*/

  .banner-text h1{
    font-size: 38px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 25px;
    color:black;
    font-family:"Playfair Display", serif;
    text-align: center;
  }
  .hr-gallery {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color:#ffb03b;
    margin: 30px 0px ;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
  }

  .hr-gallery::before,
  .hr-gallery::after {
    content: "";
    flex-grow: 1;
    background:black;
    height: 3px;
    font-size: 0px;
    line-height: 4px;
    margin: 0px 8px;
  }

  .gallery-item {
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  .gallery-item img {
    transition: all ease-in-out 0.4s
  }
  .gallery-item:hover img {
    transform: scale(1.1);
    cursor: pointer;
    opacity: 0.7;
  }
  @media (max-width: 768px) {
    .gallery-item img{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
  }

  /* footer */
#footer {
    background:#090110;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  .links ul{
    list-style-type: none;
    display: inline-flex;
    padding: 15px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    }
    
  .links li a{
      color: white;
      transition: color .2s;
      text-align: center;
      text-decoration: none;
    }
  .links li a:hover{
        text-decoration:none;
     }

  .footer-para{
      color:white;
      margin-top: 10px;
    }

    @media (max-width: 768px) {

      .footer{
        margin-right: auto;
        margin-left: auto;
      }
    }
    
  .copyright {
      margin: 0 0 5px 0;
      background-color: #000000;
      width:100%;
      text-align: center;
      color: white;
    }